h1 {
  text-align: center; 
}
nav a {
  padding-right: 10px; 
  padding-left: 10px;
  background-color: gray;
}
nav {
  text-align: center;
}
#featured-property {
  text-align: center;
}
figcaption {
  font-size: small; 
}
div {
  float: left; 
  text-align: center; 
  background-color: red;
  padding-right: 20x;
  padding-left: 20x; 
  width: 25%; 
}



